<%= form_with(model: image, local: true) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form.drag_and_drop_file_field :image_blob, nil, accept: 'image/png, image/jpeg, image/gif, image/tiff' %>
  
  <div class="filename">
    <%= form.text_field :name, placeholder: "Enter a filename", rows: 10, class: "form-control" %>
  </div>
  
  <div class="description">
    <%= form.text_area :description, placeholder: "Enter a description", :cols => "50", :rows => "10" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
